.about-blurb {
  padding: 48px 0;
  background: var(--clr-white);
  position: relative;

  .inner-blurb {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
      width: 33%;
      @media (max-width: 1440px) {
        width: 40%;
      }
      h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        margin: 0;
      }
      p {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 300;
        margin: 40px 0 72px;
      }
      .btn-row {
        a {
          font-weight: 700;
          font-size: 0.875rem;
          letter-spacing: 1.5px;
          color: var(--clr-black);
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    .images {
      width: 50%;
      height: 1000px;
      position: relative;
      z-index: 7;
      @media (max-width: 1440px) {
        height: 800px;
      }

      .top-right {
        position: absolute;
        width: 460px;
        top: 0;
        right: 0;
        z-index: 4;
        @media (max-width: 1440px) {
          width: 360px;
        }
      }
      .bottom-left {
        position: absolute;
        width: 410px;
        left: 0;
        bottom: 0;
        @media (max-width: 1440px) {
          height: 310px;
        }
      }
    }
  }
  .black-box {
    background: var(--clr-black);
    height: 418px;
    width: 836px;
    position: absolute;
    right: 0;
    top: 53%; //50%
    transform: translateY(-50%);
    @media (max-width: 1440px) {
      width: 636px;
      height: 340px;
    }

    &.overlay {
      z-index: 7;
      background: var(--clr-maroon);
      mix-blend-mode: overlay;
    }
  }
}
